.blue {
    color: #53abfc;
}

.desktop-only-flex {
    display: flex;
}

.vert-centre {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 440px) {
    .desktop_only {
        display: none;
    }

    .desk_centre {
        text-align: left;
    }
  
    .mobile_centre {
        text-align: center;
    }

    .desktop-only-flex {
        display: block;
    }
}