@media only screen and (max-width: 840px){
    .projectfieldredirect {
      padding: 10px 30px;
      font-size: 20px;
    }
}
  
  @media only screen and (max-width: 440px) {
    .firstpart {
      margin-bottom: 100px;
      padding: 200px 10px;
    }
    .fptextc {
      padding: 0px;
      font-size: 32px;
    }
    .fptext, .fptextsmall, .fptexthref {
      font-size: 20px;
      padding: 20px 0px;
    }
    
    .firstpartworks {
      padding: 100px 0px;
    }
    
    .fptextsmall, .contacttxtc, .contacttxtsmall, .fptextc, .fptext, .reachout, .projectcl, .projectsite, .firstpartworks {
      text-align: center;
    }
    
    .projectfieldredirect {
      visibility: hidden;
    }
    
    .reachout{
      font-size: 18px;
      padding: 10px 15px;
    }
    
    #projectredirect {
      text-align: center;
      margin-left: 10px;
      width: 30px;
    }
    
    .projectsite {
      text-align: center;
      margin-left: 130px;
    }
    
    .projectname {
      padding: 0px 20px;
      font-size: 35px;
    }

    .projectcl {
      text-align: left;
      padding: 0px 20px;
    }
    
    .projectdesc {
      font-size: 20px;
      padding: 0px 20px;
    }
    
    .project {
      padding: 50px 0px;
    }
    
    .firstpartabout {
      padding: 50px;
      text-align: left;
    }
    
    .contacttxtc {
      padding: 0px;
      margin: 0px;
      font-size: 40px;
    }
    
    .contacttxtsmall {
      font-size: 25px;
      padding: 0px;
      margin-top: 10px;
    }
    
    .abouthref {
      font-size: 20px;
    }
    
    .abouttxtc, .abouttxtcc {
      font-size: 30px;
      padding: 10px 0px;
      margin: 0px;
    }
    
    #contactdiscico, #contacttweetico {
      width: 80px;
      margin-right: 0px;
    }
    
    .abouttxt {
      font-size: 18px;
      margin: 0;
      padding: 10px 0px;
    }
  
    .projecttable {
      display: block;
    }

    .centre, .ccentre {
        text-align: center;
    }
    
    .copyright {
        font-size: 18px;
    }

    .contactfirstpart {
        padding: 100px 10px;
    }

    .csocial {
        flex: 0;
        display: inline-block;
    }

    .projectfield {
      padding: 0px 30px;
    }

    .projectfieldtext {
      padding: 0px 30px;
    }

    .workshref {
      height: 100px;
      margin: 20px;
    }

    .workshead {
      font-size: 30px;
    }

    .graphs {
      margin: 10px;
      display: grid;
      grid-template-columns: auto auto;
    }

    .clients {
      margin: 10px;
      display: block;
    }

    .numbergraph {
      font-size: 40px;
    }

    .spisfz, .spismp, .spicd, .spipx {
      margin: 10px 0px;
      text-align: center;
    }
}
  
@keyframes fadingIn {
      0% {
          opacity: 0;
      }
      100% {
          opacity: 1;
       }
}
  