@font-face {
    font-family: 'googlesans';
    src: url('fonts/Product\ Sans\ Regular.ttf');
}

@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'Entertainmasters-Sans';
  src: url('fonts/EM-SANS.ttf');
}

/* ScrollBars */

::-webkit-scrollbar {
  background: #00060f;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #4d4d4d;
}

/* GLOBAL CSS */

html, body {
    background-color: black;
    height: 100%;
}

.fptext, .foftxtc, .fofhref, .foftxtsmall, .fptextc, .fptextsmall, .copyright, .workshead, .worksheadsmall, .abouttxtc, .abouttxt, .contacttxtc, .contacttxtsmall{
  margin: 0px 20px;
  color: white;
  font-size: 45px;
  font-family: 'googlesans';
  padding: 10px 0px;
}

.workshead, .contacttxtc {
  font-family: 'Montserrat';
}

.worksheadsmall {
  margin-bottom: 60px;
  font-size: 30px;
}

.fptextc {
  font-family: 'Montserrat';
  font-size: 70px;
}

.copyname {
  font-family: 'Entertainmasters-Sans';
}

.fptextsmall {
  font-size: 25px;
  padding-bottom: 50px;
}

a.reachout:hover, .projectfieldredirect:hover {
  background-color: #3660f7;
  color: white;
}

.fptexthref, .fptexthref:visited {
  font-size: 25px;
  text-decoration: underline;
  color: #3660f7;
}

.fptexthref:hover {
  color: #68abf7;
}

.reachout {
  background-color: #2a42d0;
  padding: 15px 40px;
  border-radius: 8px;
  color: white;
  margin-top: 50px; 
  font-size: 25px;
  font-family: 'Montserrat';
  margin-left: 20px;
}

.projectfieldredirect {
  margin-right: 50px;
  background-color: #2a42d0;
  padding: 15px 40px;
  color: white;
  font-size: 30px;
  font-family: 'googlesans';
}

.container {
  min-height: 90%;
  margin-bottom: -150px;
}

footer {
  height: 50px;
}

.socials {
  text-align: center;
}

.copyright {
  font-size: 20px;
  margin-bottom: 20px;
}

#socialico {
  width: 50px;
  margin: 0px 20px;
}

#projectredirect {
  margin-left: 30px;
  width: 35px;
}

.firstpart {
  user-select: none;
  text-align: center;
  padding: 200px 100px;
  background-image: url('./pics/MainPageGif.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  animation: fadingIn ease 2s
}

.firstpartworks {
  padding: 200px 100px;
  background-image: url('./pics/munichworks.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: fadingIn ease 2s
}

.projects {
  animation: fadingIn ease 2s
}

.project {
  padding: 50px 100px;
  animation: fadingIn ease 2s
}

.projectcl {
  margin: 0px 10px;
  color: white;
  font-family: 'googlesans';
  font-size: 40px;
}

.projectname, .projectdesc {
  color: white;
  font-family: 'googlesans';
  font-size: 40px;
}

.projectdesc {
  margin-top: 15px;
  font-size: 25px;
}

.projectcl {
  margin: 25px 0px;
  font-size: 25px;
}

.firstpartabout {
  padding: 200px 100px;
  background-image: url('./pics/munich.jpg');
  animation: fadingIn ease 2s
}

.contactfirstpart {
  padding: 200px 100px;
  background-image: url('./pics/munich.jpg');
  animation: fadingIn ease 2s
}

.abouttxtc {
  font-family: 'Montserrat';
  font-size: 70px;
}

.abouttxt, .contacttxtsmall {
  font-size: 25px;
}

.abouthref {
  font-size: 25px;
  text-decoration: underline
}

.abouthref:hover {
  color: #3660f7;
}

#contactdiscico, #contacttweetico {
  text-align: center;
  margin-right: 50px;
  width: 150px;
}

.tweet{
  margin-top: 25px;
}

#contactdiscico {
  margin-top: 10px;
}

.csocials {
  display: flex;
  text-align: center;
}

.csocial {
  flex: 1;
  padding: 100px 40px;
  margin-right: 40px;
  text-align: center;
}

#socialico {
  transition: 0.2s;
}

#contactdiscico, #contacttweetico, #projectredirect {
  transition: 0.5s;
}

#contactdiscico:hover, #contacttweetico:hover, #socialico:hover, #projectredirect:hover {
  opacity: 0.5;
}

.fof {
  padding: 100px 0px;
  animation: fadingIn ease 2s;
}

.foftxtc {
  text-align: center;
  font-size: 150px;
}
.foftxtsmall {
  text-align: center;
}

.foftxtc, .fofhref:hover {
  color: #fff;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #464cd7,
      0 0 82px #464cd7,
      0 0 92px #464cd7,
      0 0 102px #464cd7,
      0 0 151px #464cd7;
}

.fofhref, .fofhref:visited {
  transition: 0.5;
  text-align: center;
}

#centre {
  text-align: center;
}

.projecttable {
  display: flex;
}

.skilllist {
  margin: 0px 20px;
  list-style-type: circle;
  text-align: left;
}

.abouttxtcc {
  margin: 0px 20px;
  color: white;
  font-size: 35px;
  font-family: 'Montserrat';
  padding: 10px 0px;
}

.centre {
  text-align: center;
}

.desk_centre {
  text-align: center;
}

.projectfield {
  font-family: 'Montserrat';
  padding: 10px 100px;
  color: white;
  font-size: 23px;
}

.projectfieldtext {
  font-family: 'googlesans';
  padding: 10px 100px;
  color: white;
  font-size: 20px;
}

.projectarea {
  text-align: center;
  margin: 20px;
  color: white;
  font-size: 25px;
  font-family: 'googlesans';
}

#projecticon {
  text-align: center;
}

.workshref {
  height: 210px;
  margin: 20px;
  margin-left: 100px;
  transition: 0.2s;
  border-radius: 12px;
}

.workshref:hover {
  border-radius: 19px;
  opacity: 50%;
  transform: scale(1.05);
}

.emhref {
  font-family: 'Entertainmasters-Sans';
}